<html>
<head>
<style>
body {
       background-color: #F39C12 ;
       
}
h1 {
        color: #FFffFF;
}
h2 {
        color: #FFFFFF;
}
</style>
</head>
<body>
 
<h1><center>My Skincare Cabinet</center></h1>
 
<h2><center></center>Keep track of your skincare products in one easy place</center></h2>
 
 <p color:#FFffFF><center> This site is designed to help you keep trach on beauty products in your bathroom cabinet. 
 Each year, we use multiple products past their due date, which can cause irritation and or infection
 on our delicate skin. Keep track of your products and know when to throw them away!</center></p>
 
 <h1><a href: "/user/sign_in> Sign In Here </a></h1>
</body>
</html>